Aufgaben/L01_RecapAndFoundation
Aufgaben/L02_Events
Aufgaben/L03_FormElements
Aufgaben/L04_DataStructures
Aufgaben/L05_Client
Aufgaben/L06_Server
Aufgaben/L07_Database
Aufgaben/L08_Canvas
Aufgaben/L09_Classes
Aufgaben/L10_Inheritance
Aufgaben/Endaufgabe_EIA2/Database
node_modules
tslint.json
tsconfig.json
